
.eventDetails button{
    margin: 20px;

}
.detailcontent{
    border: solid;
    margin-left: 20px;
    padding-left: 10px;
}

.detailcontent p{
    margin-left: 5px;

}

.detailcontent h3{
    margin-left: 5px;
}

.guests {
    margin-left: 20px;
    margin-top: 5px;
    padding: 10px;
    border: solid;
}

