.eventlist ul{
    list-style-type: none;
}

a{
    color: white;
}

.wrapper{
    position:relative;
    width:90%;
    padding-bottom:40%;
    height:0;
    overflow:hidden;
    margin-top: 20px;
    z-index: 2;
}
.eventcontainer{
    position:absolute;
    width:100%;
    height:100%;
    background-color: #dddddd;
}

.titlehead{
    background-color:#689e18;
    height: 20%;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 4vw;
    color:#FFF;
    width: 75%;
    margin-top: 20px;
    margin-left: -10px;
    position: relative;


}

.titlehead h4{
    margin: 0;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.title{
    margin-left: 20px;
    line-height:45px;
}

.post{
    color:#656565;
    font-family: Tahoma, sans-serif;
    font-size: 1.5vw;
    line-height: 30px;
    margin-left: 15px;
}

.content{
    font-family: Tahoma, sans-serif;
    font-size: 2vw;
    color:#1f1e1e;
    margin-top:10px;
    line-height:5px;
    margin-left: 15px;

    letter-spacing:1px;
}