.select-style select{
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}

.select-style{
    margin-left: 20px;
    width: 240px;
    height: 34px;
    overflow: hidden;
    background: url("pictures/down_arrow_select.jpg") no-repeat right #ddd;
    border: 1px solid #ccc;
}

#updateEventButton{
    margin-left: 20px;
    float: left;
    width: 99%;
    margin-bottom: 20px;

}