<div class="eventDetails">

    <h1>{{event.name}}</h1>

    <div class="detailcontent">

    <p>{{event.description}}</p>
    <p>{{event.guests.length}}</p>
    <p><strong>Maximal amount of guests:</strong>
        {{event.maximumAmountOfGuests}}
    </p>

    <h3>Target group</h3>
    <p>{{event.targetGroup}}</p>

    <h3>Contribution</h3>
    <p>{{event.contributionsDescription}}</p>

    <h3>Location</h3>
    <p>
        {{event.location.name}}<br />
        {{event.location.street}}<br />
        {{event.location.plz}} {{event.location.city}}
    </p>

    <h3>Date & time</h3>
    <p>{{event.times.begin | date:"dd.MM.yy hh:mm"}} - {{event.times.end | date:"dd.MM.yy hh:mm"}}</p>

    </div>

    <form action="{{ '#/newGuest/events/' +  event.id }}" method="get">
        <button class="buttons" type="submit">add new Guest</button>
    </form>


    <div class="guests" data-ng-repeat="guest in event.guests">
        <p>Name: {{ guest.name }}</p>
        <p>Nimmt mit: {{ guest.contribution }}</p>
        <p>Kommentar: {{ guest.comment }}</p>

    </div>




</div>