<div class="eventDetails">


    <div class="detailtitle">
    <div class="detailname">
        <h1>{{event.name}}</h1>
    </div>

    <div class="guestnumber">
        <p>Guests: {{event.guests.length}}</p>
    </div>

    </div>

    <div class="detailcontent">

        <h3>Description</h3>
        <p>{{event.description}}</p>

        <p><strong>Maximal amount of guests:</strong>
        {{event.maxGuests}}
        </p>

        <h3>Target group</h3>
        <p>{{event.targetGroup}}</p>

        <h3>Contribution</h3>
        <p>{{event.contributionsDescription}}</p>

        <h3>Location</h3>
        <p>
            {{event.location.name}}<br />
            {{event.location.street}}<br />
            {{event.location.plz}} {{event.location.city}}
        </p>

        <h3>Date & time</h3>
        <p>{{event.times.begin | date:"dd.MM.yy hh:mm"}} - {{event.times.end | date:"dd.MM.yy hh:mm"}}</p>

    </div>

    <form action="{{ '#/newGuest/events/' +  event.id }}" method="get">
        <button id="addguest" class="buttons" id="add" type="submit">add new guest</button>
    </form>


    <div class="guests" data-ng-repeat="guest in event.guests">
        <h3>Name</h3>
        <p>{{ guest.name }}</p>
        <h3>Contribution</h3>
        <p>{{ guest.contribution }}</p>
        <h3>Comment</h3>
        <p>{{ guest.comment }}</p>

        <form id="editguest" action="{{'/#updateGuest/events/'+ event.id + '/guests/' + guest.id}}" method="get">
            <button class="buttons" type="submit">edit guest</button>
        </form>

        <div class="filler">
            <p>   </p>
        </div>

        <button if="deleteguest" class="buttons" type="submit" ng-click="deleteGuest('#/events/', guest)">delete</button>

    </div>




</div>