<div>
    <h1>Add new event</h1>

    <p>Event</p>
    <label for="eventname">Name</label>
    <input ng-model="event.name" type="text" id="eventname"><br/>

    <label for="description">Description</label>
    <input ng-model="event.description" type="text" id="description"><br/>

    <label for="targetgroup">TargetGroup</label>
    <input ng-model="event.targetGroup" type="text" id="targetgroup"><br/>

    <label for="contributionsDescription">Contribution Description</label>
    <input ng-model="event.contributionsDescription" type="text" id="contributionsDescription"><br/>

    <label for="maximalAmountOfGuests">Maximal amount of Guests</label>
    <input ng-model="event.maximalAmountOfGuests" type="number" id="maximalAmountOfGuests"><br/>

    <p>Location</p>
    <label for="locationname">Name</label>
    <input ng-model="event.location.name" type="text" id="locationname"><br/>

    <label for="street">Street</label>
    <input ng-model="event.location.street" type="text" id="street"><br/>

    <label for="plz">plz</label>
    <input ng-model="event.location.plz" type="number" id="plz"><br/>

    <label for="city">City</label>
    <input ng-model="event.location.city" type="text" id="city"><br/>

    <p>Date & Time</p>
    <label for="begin">Begin</label>
    <input ng-model="event.times.begin" type="datetime" id="begin"><br/>

    <label for="end">End</label>
    <input ng-model="event.times.end" type="datetime" id="end"><br/>

    <button type="button" ng-click="addNewEvent('#/list/')">Create new event</button>

</div>