<div class="newEventcontainer">
    <h1>Add new event</h1>

    <form class="form-style">
        <ul>
            <li>
                <label for="eventname">Name</label>
                <input class="input" ng-model="event.name" type="text" id="eventname">
            </li>

            <li>
                <label for="description">Description</label>
                <input ng-model="event.description" type="text" id="description">
            </li>

            <li>
                <label for="targetgroup">TargetGroup</label>
                <input ng-model="event.targetGroup" type="text" id="targetgroup">
            </li>

            <li>
                <label for="contributionsDescription">Contribution Description</label>
                <input ng-model="event.contributionsDescription" type="text" id="contributionsDescription">
            </li>

            <li>
                <label for="maximalAmountOfGuests">Maximal amount of Guests</label>
                <input ng-model="event.maxGuests" type="number" id="maximalAmountOfGuests">
            </li>

            <li>
                <label for="locationname">Name</label>
                <input ng-model="event.location.name" type="text" id="locationname">
            </li>

            <li>
                <label for="street">Street</label>
                <input ng-model="event.location.street" type="text" id="street">
            </li>

            <li>
                <label for="plz">plz</label>
                <input ng-model="event.location.plz" type="number" id="plz">
            </li>

            <li>
                <label for="city">City</label>
                <input ng-model="event.location.city" type="text" id="city">
            </li>

            <li>
                <label for="begin">Begin</label>
                <input ng-model="event.times.begin" type="datetime-local" id="begin">
            </li>

            <li>
                <label for="end">End</label>
                <input ng-model="event.times.end" type="datetime-local" id="end">
            </li>
        </ul>
    </form>

    <br/>
    <button id="createevent" type="button" class="buttons" ng-click="addNewEvent('/list/')">Create new event</button>

</div>